In [1]:
import pandas as pd

In [10]:
# read the existing postcode dictionary
exist_postcodes = pd.read_csv('exist_postcodes.csv')
exist_postcodes['postal'] = exist_postcodes['postal'].astype(str).str.zfill(6)
# exist_postcodes = pd.concat([exist_postcodes, pd.DataFrame([{'postal': '530152', 'latitude': 1.3516694137356635, 'longitude': 103.88089893000945}])])
# exist_postcodes.to_csv('exist_postcodes.csv', index=False)

In [11]:
exist_postcodes.head()

   postal  latitude   longitude
0  342115  1.336941  103.872599
1  823273  1.402200  103.901352
2  903808  1.226856  103.777541
3  610140  1.326875  103.723399
4  398614  1.312763  103.883519

In [12]:
# read the need to be mapped postcode dictionary
df = pd.read_csv('postcodesforbayi.csv')
df['postal'] = df['q_25'].astype(str).str.zfill(6)

In [13]:
df.head()

   q_1    q_25  postal
0    0  598163  598163
1    1  530526  530526
2    2  596720  596720
3    3  650423  650423
4    4  461042  461042

In [6]:
# Only apply to Singapore addresses
def get_coords_from_postcode(data, dict, postcode = 'postal', lat = 'latitude'):
    df = pd.merge(data, dict, on = postcode, how = 'left')
    df_undefined = df[df[lat].isnull()]
    if len(df_undefined) == 0:
        print('All postcodes are defined')
    else:
        print('There are', len(df_undefined), 'postcodes undefined')
    return df, df_undefined

In [14]:
df, df_undefined = get_coords_from_postcode(df, exist_postcodes, postcode = 'postal')

There are 1936 postcodes undefined

In [15]:
df_undefined['postal'].unique()

array(['000nan', 'singapore', '649782', '000NIL', '579530', '124554',
       '566356', '052613', '123355', '583721', '584113', '601241',
       '053287', '999008', '476262', '012201', '926322', '033903',
       '110067', '151800', '151500', '146249', 'hkjbkjh', 'gfhmjgjkg',
       '099900', '900002', '521466', '540942', '003814', '12365shfgdygsv',
       '444357', '670325', 'Serangoon garden', '951245', '011101',
       '684802', '652541', '300089', '350054', '500051', '234432',
       '210000', '740110', '710000', '460486', '522110', '436877',
       '345687', '179742', '123456', '523686', '740617', '169469'],
      dtype=object)

In [16]:
df.to_csv('mapped.csv', index=False)